* {
    font-family: Open Sans, Helvetica, Verdana, Arial, sans-serif;

    &, &::before, &::after {
        box-sizing: border-box;
        box-shadow: none;
    }

    &::-webkit-scrollbar{
        display: none;
    }
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    user-select         : none;
    -moz-user-select    : none;
    -webkit-user-select : none;
    direction: rtl;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 1.5rem;
    padding: .5rem;
    margin: 0;

    overflow: hidden;
    max-width: calc(300px - 2rem);
}